.root > :not(div) {
  padding: 0 7.5rem;
  position: relative;
  z-index: 99;
}

.root > hr {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  height: 20.8125rem;
  position: relative;
}

.article { margin-top: -20.8125rem; }
.article > nav {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.article > nav > h2 {
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}

.article > nav > hr {
  background-color: var(--red);
  margin: 3.5rem 0 0.75rem;
  border: none;
  height: 0.375rem;
  width: 7rem;
}

.article > nav > li > button {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  height: 2rem;
  padding: 0.375rem 1rem 0.5625rem;
}

.article > nav > li { grid-column: 2; grid-row: 1/3; }
.article > nav > li > button:nth-child(1) {
  margin-right: 0.5rem;
  background-color: var(--red);
}

.article > section {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 7.1875rem;
}

@media only screen and (max-width: 48em) {
  .root > div { height: 25rem; }
  .root > :not(div) { padding: 0 1rem; }
  .article > nav > h2 { grid-column: 1/3; grid-row: 2; margin-bottom: 0; }
  .article > nav > li { grid-column: 1/3; grid-row: 3; margin: 1rem 0; }
}